@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  padding: 2rem 8rem;
  background-color: #ffffff;
}

/* Title and Subtitle */
.title-and-subtitle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
  padding-bottom: 1.5rem;
}

.title-and-subtitle-container h1 {
  font-size: 2.25rem;
  font-weight: 800;
  word-spacing: 0.2rem;
  letter-spacing: 0.05rem;
}

.title-and-subtitle-container p {
  font-size: 1.15rem;
  color: #6e7e93;
  word-spacing: 0.05rem;
}

/* Button */
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  padding: 0.85rem 2rem;
  background-color: #0f172a;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #283446;
}

.button span {
  font-size: 20px;
}

.button p {
  font-size: 1rem;
  font-weight: 600;
}

/* Color Boxes */
.color-boxes-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.first-color-box {
  padding: 9rem 4.5rem;
  background-color: #367de7;
  border-radius: 1rem;
}

.second-color-box {
  padding: 9rem 4.5rem;
  background-color: #4836e7;
  border-radius: 1rem;
}

.third-color-box {
  padding: 9rem 4.5rem;
  background-color: #a136e7;
  border-radius: 1rem;
}

.fourth-color-box {
  padding: 9rem 4.5rem;
  background-color: #e736d6;
  border-radius: 1rem;
}

.fifth-color-box {
  padding: 9rem 4.5rem;
  background-color: #e7367d;
  border-radius: 1rem;
}

.hex-code {
  font-size: 1.1rem;
  font-weight: 800;
  cursor: pointer;
}

.colors-description {
  font-size: 0.85rem;
  color: #6e7e93;
}
